<h2>Admin Girişi</h2>

<form method="post">
    <label>Kullanıcı Adı</label>
    <input name="username" class="form-control" />

    <label>Şifre</label>
    <input name="password" type="password" class="form-control" />

    <button class="btn btn-dark mt-3">Giriş Yap</button>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger mt-3">@ViewBag.Error</div>
    }
</form>
