@model List<ProjeOgrenciYonetim.Web.Models.Project>

<h2>Projeler</h2>

<a class="btn btn-primary mb-3" href="/Project/Create">Yeni Proje Ekle</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Adı</th>
        <th>Süre</th>
        <th>Teknolojiler</th>
        <th>İşlem</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.DurationWeeks hafta</td>
            <td>@p.Technologies</td>
            <td>
                <a href="/Project/Edit/@p.Id" class="btn btn-sm btn-warning">Düzenle</a>

                <form method="post" action="/Project/Delete/@p.Id" style="display:inline">
                    <button class="btn btn-sm btn-danger"
                            onclick="return confirm('Silmek istediğine emin misin?')">
                        Sil
                    </button>
                </form>

                <a href="/Admin/ProjectStudents/@p.Id" class="btn btn-sm btn-info">Başvurular</a>
            </td>
        </tr>
    }
    </tbody>
</table>
